.transactions-list:hover{
    background: #eaeaea;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.verify-col {
    padding:30px;
    padding-top:150px;
    background-color: #fff;
}

@media only screen and (max-width: 600px) {
    .verify-col {
        padding-top:10px;
        margin-bottom: 50px;
    }
  }