.transactions-list:hover{
    background: #eaeaea;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.verify-col {
    padding:30px;
    margin-top:150px;
}

@media only screen and (max-width: 600px) {
    .verify-col {
        margin-top:0px;
        margin-bottom: 50px;
    }
  }